html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  padding: 1rem;
}

img {
  display: block;
  width: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  margin-top: 0;
}

ul a {
  color: #3783a3;
}

h1 {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

hr {
  background-color: #e2e2e2;
  border: none;
  margin-top: 1.5rem;
  height: .2rem;

}

h2 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

main div {
  text-align: center;
  padding: 1rem 1rem 0 1rem;
}
